@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root{
    --font-family:'PT Serif', serif;
    --text-family:'Open Sans', sans-serif;
    --intext-family:'Open Sans', sans-serif;  
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--font-family)
    

}

.container{
    background-color: #FDFDFD;
    font-size: 34px;
    
}

.heading{
    padding: 19px;
    padding-left: 124px;
}

.obs{
    color: #00FFFF;
    padding-left: 0px;
  
  }

.info{
    color: #FFFF00;
}

.lorem{
    font-size: 14px;
    padding-left: -6px;
    margin: -7em 47em -3em -6em;
    color: rgb(44, 43, 43);

}
.next{
    font-size: 14px;
    padding-left: 7px;
    color: rgb(44, 43, 43);
}

.lor{
    background-color: #00FFFF;
    width: 55%;
    text-align: center;
    color: white;
    font-size: 14px;
    margin: -2em 0em 0em 0em;
    padding-left: 0px;
    margin-left: -119px;

}

.lor1{
    background-color: #00FFFF;
    width: 54%;
    text-align: center;
    color: white;
    font-size: 14px;
    margin-left: 576px;
    margin-bottom: -15px;
}

.health{
    
    font-family: var(--text-family);
    padding-left: 575px;
    font-weight: 600;
    color: #003CFF;
    margin-top: -12px;
    margin-bottom: -14px;
}
.grain{
    font-family: var(--intext-family);
    padding-left: 657px;
    margin-top: -55px;
    font-size: 25px;
    font-weight: 900;
    color: #00FFFF;
}

.hundred{
    padding-left: 804px;
    margin-top: -56px;
    color: #FFFF00;
}

.im1{
    width: 65px;
    padding-left: 957px;
    margin-top: -5px;

}

.im2{
    width: 94px;
    margin-top: 58px;
    padding-left: 945px;;
}

.seven{
    padding-left: 817px;
    margin-top: -57px;
    color: #FFFF00;
}

.fruit{
    font-family: var(--intext-family);

    padding-left: 629px;
    margin-top: -64px;
    color: #00FFFF;
    font-weight: 900;
    font-size: smaller
}

.portion{
    font-family: var(--text-family);
    margin-left: -119px;
    margin-top: -112px;
    color: #003CFF;
    font-weight: bold;

}

.im3{
    width: 83px;
    padding-left: 1075px;
    margin-top: -14px;
}

.five{
    padding-left: 942px;
    margin-top: -60px;
    color: #FFFF00;

}
.meat{
    font-family: var(--intext-family);
    padding-left: 733px;
    font-size: smaller;
    font-weight: bold;
    color: #00FFFF;
    margin-top: -54px;
    margin-bottom: -51px;

}

.im4{
    width: 70px;
    margin-top: -27px;
    padding-left: 394px;
}
.sen1{
    font-size: 13px;
    color: #00FFFF;
    margin-top: -65px;
    padding-left: 11px;
}

.milk{
    width: 44px;
    margin-top: 41px;
    padding-left: 1087px;
}
.twenty{
    padding-left: 944px;
    color: #FFFF00;
    margin-top: -66px;

}
.cheese{
    font-family: var(--intext-family);
    font-size: smaller;
    font-weight: 900;
    color: #00FFFF;
    padding-left: 721px;
    margin-top: -59px;
    margin-bottom: -126px;
}
.juice{
    width: 94px;
    padding-left: 423px;
    margin: 24px 0px -49px 3px;
}
.donut{
    width: 98px;
    padding-left: 265px;
    margin-top: -43px;

}
.chips{
    width: 130px;
    padding-left: 35px;
    margin: -96px -4px 67px 4px;
}

.lorr1{
    background-color: #00FFFF;
    width: 49%;
    text-align: center;
    color: white;
    font-size: 14px;
    margin: -64px 0px 11px 701px;
}
.lorr{
    background-color: #00FFFF;
    width: 57%;
    text-align: center;
    color: white;
    font-size: 14px;
    margin: -2em 0em 3em 0em;
    padding-left: 18px;
    margin-left: -116px;

}

.dia{
    color: #003CFF;
    padding-left: 846px;
    font-size: unset;
}
.people{
    color: #FFFF00;
    font-size: smaller;
    padding-left: 845px;

}
.dia1{
    color: #00FFFF;
    font-size: small;
    padding-left: 847px;
    margin: 0px 0px -442px 1px;
}
.im5{
    width: 8%;
    padding-left: 714px;
    margin-top: -72px;
    margin-bottom: -407px;
}
.ice{
    width: 108px;
    padding-left: 583px;
    margin: -78px 0px -294px 0px;
}
.juice2{
    width: 75px;
    padding-left: 493px;
    margin-top: -35px;
    margin-bottom: -246px;
}
.nut{
    width: 125px;
    padding-left: 338px;
    margin-bottom: -120px;
    margin-top: 133px;

}

.pizza{
    width: 98px;
    padding-left: 217px;
    margin-top: -7px;
}

.near{
    font-size: larger;
    color: #00FFFF;
    padding-left: 11px;
    margin-top: -97px;
}
.five1{
    color: #FFFF00;
    padding-left: 35px;
    margin-top: -6px;
}
.million{
    font-size: medium;
    color: #00FFFF;
    padding-left: 15px;
}
.strok{
    padding-left: 846px;
    color: #003CFF;
}
.people1{
    color: #FFFF00;
    font-size: smaller;
    padding-left: 845px;
}
.strok1{
    color: #00FFFF;
    font-size: small;
    padding-left: 847px;
    margin-bottom: -308px;
}
.im6{
    width: 8%;
    padding-left: 714px;
    margin-bottom: -207px;
    margin-top: 206px;
}
.human{
    width: 294px;
    height: 127px;
    padding-left: 360px;
}
.adult{
    padding-left: 203px;
    margin-top: -118px;
    font-size: smaller;
    color: #FFFF00;
}
.five2{
    padding-left: 201px;
    margin-top: 8px;
    font-size: xxx-large;
    color: #00FFFF;
}
.human2{
    width: 202px;
    padding-left: 362px;
    margin-top: 13px;

}
.yong{
    padding-left: 206px;
    margin-top: -118px;
    font-size: smaller;
    color: #FFFF00;
}
.five3{
    padding-left: 213px;
    margin-top: 1px;
    font-size: xxx-large;
    color: #00FFFF;
}
.cancer{
    padding-left: 846px;
    color: #003CFF;

}
.people2{
    color: #FFFF00;
    font-size: smaller;
    padding-left: 845px;

}
.cancer1{
    color: #00FFFF;
    font-size: small;
    padding-left: 847px;
    margin-bottom: -110px;

}
.im7{
    width: 8%;
    padding-left: 712px;
    margin-bottom: -49px;
    
}
.human3{
    width: 126px;
    height: 90px;
    padding-left: 360px;
    margin-bottom: -10px;
    margin-top: -63px;
}
.child{
    padding-left: 185px;
    margin-top: -92px;
    font-size: smaller;
    color: #FFFF00;

}
.five4{
    padding-left: 209px;
    margin-top: 2px;
    font-size: xxx-large;
    color: #00FFFF

}

.vertical {
    border-left: 3px dotted #00FFFF;
    height: 1086px;
    position: absolute;
    left: 51%;
}